*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 

a{
    text-decoration: none;
}

ul{
    list-style: none;
}


.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
   }

   .nav-links{
    display: flex;
    align-items: center;

   }
   .nav-links li{
    margin: 0 30px;
   }

   .nav-links a{
    color: whitesmoke;
   }
header{
    width: 100vw;
    height: 100vh;
    background-image: url(/Img/header-bg.png);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content{
    margin-top: 150px;
    color: whitesmoke;
    text-align: center;
}
.header-content h1{
    font-size: 8vmin;
}

.header-content p{
    font-size: 2vmin;
}

.line{
    width: 150px;
    height: 4px;
    background: rgb(0, 255, 38);
    margin: 10px auto;
    border-radius: 5px;
}

.header-content p{
    margin-top: 40px;
    margin-bottom: 20px;
}
/* From Uiverse.io by barisdogansutcu */ 
button {
    display: inline-flex;
    gap: 10px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: #7e97b8;
    background-color: #e0e8ef;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(255, 255, 255, 0.333);
    border-radius: 40px 40px 40px 40px;
    padding: 16px 24px 16px 28px;
    transform: translate(0px, 0px) rotate(0deg);
    transition: 0.2s;
    box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
   }
   
   button:hover {
    color: #516d91;
    background-color: #E5EDF5;
    box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
   }
   
   button:active {
    box-shadow: none;
   }




